body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

ul {
    padding-inline-start: 0;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.navigation {
    background: #e5e5e5;
    margin: 0 auto;
    text-align: center;
}


.links {
    display: inline-block;
    color: black;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin: 17px 15px 17px;
}

.links:hover {
    color: #f13c6e;
}

.logo-container {
    width: 1110px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.phone {
    text-decoration: none;
    color: black;
    position: absolute;
    right: 217px;
    top: 38px;
}

.phone:hover {
    color: #f13c6e;
}

.button a {
    border: #f13c6e solid 2px;
    border-radius: 40px;
    background: #ffffff;
    padding: 10px 60px 10px 48px;
    position: absolute;
    top: 27px;
    right: 5px;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.white-hover:hover {
    background: #f13c6e;
    color: #ffffff;
}

.logo {
    float: left;
    margin: 20px 0;
}

.menu {
    margin: 0 auto;
    text-align: center;
}

.links-menu {
    font-size: 16px;
    margin: 26px 19px 30px;
}

.banner {
    background: #f13c6e;
    width: 100%;
    height: 598px;
}

.text {
    color: #ffff;
    display: block;
    max-width: 300px;
    margin: 167px 10px;
    float: left;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

.text p {
    font-weight: 400;
    font-size: 14px;
    margin: 45px 0;
}

.button-banner a {
    background: #f13c6e;
    border: #ffffff solid 2px;
    border-radius: 40px;
    padding: 12px 64px;
    text-decoration: none;
    color: #ffffff;
}

.pink-hover:hover {
    color: #f13c6e;
    background: #ffffff;
    border: #f13c6e solid 2px;
}

.grey {
    background: #e5e5e5;
    padding-bottom: 40px;
}

h2 {
    margin: 0 10px;
    padding: 70px 0 10px 0;
}

.list-cards {
    text-align: center;
}

.list-cards > ul > li {
    display: inline-block;
    width: 23%;
    margin: 10px;
}

.list-cards::after {
    content: '';
    clear: both;
    display: block;
}

.label-cards {
    background: #ffffff;
    text-align: center;
    padding-bottom: 30px;
}

.price {
    font-weight: 500;
    font-size: 21px;
}

.product-image {
    margin-top: 25px;
}


.infoy {
    height: 232px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.pink-block1 {
    background: #f13c6e;
    width: 578px;
    height: 212px;
    float: left;
    margin: 10px;
}

.pink-block2 {
    background: #f13c6e;
    width: 578px;
    height: 212px;
    float: right;
    margin: 10px;
}

.split1 {
    background: #f13c6e;
    color: #ffffff;
    width: 240px;
    display: inline-block;
    padding-left: 45px;
    padding-top: 20px;
}

input {
    border-radius: 30px;
    border: #ffffff;
    padding: 10px 20px;
    font-size: 14px;
    color: #c4c4c4;
}

.main-text {
    font-weight: 700;
    font-size: 18px;
}

.button-cards {
    padding-top: 16px;
}

.categories {
    width: 25%;
    float: left;
    background: #ffffff;
    padding: 60px 0px;
    margin: 0 auto;
    text-align: left;
}

.column > li {
    list-style: none;
}

.categories span {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    margin-bottom: 34px;
}

.column a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #828282;
    line-height: 28px;
}

.column a:hover {
    color: #f13c6e;
    text-shadow: 3px 5px 6px #828282;
}

.text-categories {
    max-width: 250px;
    border-bottom: 1px solid #efefef;
}

.header-bar {
    border-top: 1px solid #EFEFEF;
}

.icon a {
    border-radius: 50%;
    background: #ffffff;
    padding: 7px 10px;
    float: left;
    margin: 30px 6px;
}

.icon img {
    width: 100%;
}

.white {
    background: #ffffff;
    height: 405px;
    border-bottom: 1px solid #EFEFEF;
}

.bottom {
    margin: 0 auto;
    width: 1200px;
    height: 30px;
    padding: 10px;
}

.bottom p {
font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #828282;
    margin-top: 30px;
}

.text-bottom-privacy {
    float: right;
    margin-right: 10px;
}

.text-bottom-best {
    float: left;
    margin-left: 10px;
}

.container-popular {
    margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 295px 295px 295px 295px;   
    background: #ffffff;
    margin: 10px;
}

.grid > * {
    background-color: #ffffff;
    border: 1px solid #EFEFEF;
    padding: 25px 0;
    text-align: center;
}